<%layout('layouts/usesTemplate')%>
<%- include('./components/Navbar') %>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/image/bitcoin.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/women.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/man.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <section>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <img src="/static/image/invest.png" alt="" class="img-fluid">
        </div>
          <div class="col-md-6 col-sm-12">
              <p class="fs-3 text-uppercase text-center font-sans">About Us</p>
              <p class="mx-3 fs-5 font-ss">
                PENNYMARTZ is here to Bring Constant Smile to all our Investors and also 
                establishing a FINANCIAL FREEDOM. We are a team of Online Investors that has STUDIED 
                the FOREX MARKET (INDICES) and derived a means of making profit through trading and 
                we also into rendering Advertisement to our valid Customers.. So we open a professional 
                market which is attracting investors from all over the world, who have online trading 
                and Trading experience. Our unique Stock, Indice, Bitcoin investment solution provides 
                our clients with an opportunity to grow their investment in the secured safe environment.
              </p>
          </div>
      </div>
  </section>

  <section>
      <div class="row">
          <div class="col-md-12">
              <div class="row mt-3">
                  <div class="col-md-6 col-sm-6">
                      <p class="fs-3 text-center font-sans">How To Get Started</p>
                      <p>To have an account with us is really easy. All you need to do is click on the 
                          register, fill in the form and login with your credentials.</p>
                      <p>
                        From your dashboard, click on invest, choose a package and enter the amount you want to invest. 
                        You can also earn more by referring your family and friends to FxWebGlobal.
                      </p>
                      <p>
                        Once you enter the amount you want to invest, you're to make payment to the company's account. 
                        Your payment will be confirmed immediately.
                      </p>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <p class="fs-3 text-center font-sans">Why Should You Invest</p>
                      <p>
                        We are an organisation who are committed to the principle of revenue maximization and reduction 
                        of the financial risks at investing and also with our Risk management we will go Far
                        Register 
                        Login
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section>
      <div class="row mt-3">
          <div class="col-md-12">
              <p class="fs-3 text-center font-sans">Our Investment Plan</p>
              <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            PENNYMARTZ OFFERS 40% RETURN ON INVESTMENT IN 10 WORKING DAYS
                          </div>
                        <div class="card-body">
                           40%
                           <ul>
                               <li>Minimum: 50</li>
                               <li>Maximum: 900</li>
                               <li>Withdraw on 7th day</li>
                               <li>24/7 days support</li>
                               <li>3% Referral Bonus</li>
                           </ul>
                           <div class="card-footer">
                               INVEST NOW
                           </div>
                        </div>
                    </div>
                  </div>
              </div>
              
          </div>
      </div>
  </section>

  <div class="footer bg-dark">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-4">
                      <p class="fs-6 text-white">
                        FXWEBGLOBAL LIMITED is here to Bring Constant Smile to all our Investors 
                        and also establishing a FINANCIAL FREEDOM. FXGLOBAL LIMITED IS A TRADING 
                        ORGANIZATIONS WITH PROFESSIONAL GLOBAL MARKET TRADERS THAT TRADES ON 
                        FOREX(INDICES), CRYPTOCURRENCY AND WE ALSO ADVERT
                      </p>
                  </div>
                  <div class="col-md-4 text-white">
                    support@fxwebglobal.com
                    fxwebglobal@gmail.com
                  </div>
                  <div class="col-md-4 text-white">
                      <p class="fs-5">Useful Links</p>
                      Home
                      Register
                      Login
                      Terms and Conditions
                  </div>
              </div>
          </div>
      </div>
  </div>