<%layout('layouts/usesTemplate')%>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-uppercase mt-5 mb-3 ms-3">Register</h3>
                <div class="ms-3">
                    <form action="/register/<%=ref%>" method="POST">
                      <%- include('../flash/messages') %>
                        <div class="mb-3">
                            <label for="name" class="form-label font-monospace">Full Name </label>
                            <input type="text" class="form-control" name="name">
                          </div>
                        <div class="mb-3">
                          <label for="email" class="form-label font-monospace">Email address</label>
                          <input type="text" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label font-monospace">Phone Number</label>
                          <input type="text" class="form-control" name="phone">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label font-monospace">Password</label>
                          <input type="password" class="form-control" name="password">
                        </div>
                        <div class="mb-3">
                          <label for="password2" class="form-label font-monospace">Confirm Password</label>
                          <input type="password" class="form-control" name="password2">
                        </div>
              
                        <div class="d-grid gap-2">
                          <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bout">
                    <img src="/static/image/reg.png" alt="" class="img-out">
                </div>
            </div>
        </div>
    </div>
</div>